<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 my-2">
    <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
        <div class="bar">
            <h3 class="mb-2">Manage your profile here</h3>
        </div>

        <form [formGroup]="usernameForm" (ngSubmit)="change_username()">
            <notes-text-input
                [title]="'Enter desired username:'"
                [name]="'username'"
                [id]="'username'"
                [placeholder]="'Enter the username you want to have.....'"
                [type]="'text'"
            ></notes-text-input>
          
          <div class="buttons mt-2">
            <button type="submit" class="btn btn-primary"> Change username </button>
          </div>
        </form>
    </div>
</div>
