<div class="area">
    <div class="content">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 my-2">
            <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
                <h3>Public notes</h3>
                <notes-search (searchEvent)="searchNotes($event)"></notes-search>
                <div *ngIf="noteList && noteList.length > 0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Content</th>
                            <th>Priority</th>
                            <th>Deadline</th>
                            <th>Tags</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let note of noteList">
                            <td>{{ note.user.username }}</td>
                            <td>{{ note.title }}</td>
                            <td>{{ note.category.title }}</td>
                            <td>{{ note.content }}</td>
                            <td>{{ note.priority }}</td>
                            <td>{{ note.deadline }}</td>
                            <td>{{ note.tags }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="!noteList || noteList.length == 0">
                    <p><b>There are no public notes!</b></p>
                </div>
                <div *ngIf="totalItems > itemsPerPage">
                  <ngb-pagination
                    [collectionSize]="totalItems"
                    [(page)]="currentPage"
                    [pageSize]="itemsPerPage"
                    (pageChange)="onPageChange($event)">
                  </ngb-pagination>
            </div>
        </div>
    </div>
</div>
