<div id="navigation-bar">
  <div class="navigation-element">
    <a [routerLink]="['/public']" routerLinkActive="active-link"> Public notes </a>
  </div>
  <div class="navigation-element">
    <a [routerLink]="['/users']" routerLinkActive="active-link"> Users </a>
  </div>
  <div class="navigation-element">
    <a [routerLink]="['/users']" routerLinkActive="active-link"> Log in </a>
  </div>
  <div class="navigation-element">
    <a [routerLink]="['/users']" routerLinkActive="active-link"> Register </a>
  </div>
</div>

