<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 my-2" *ngIf="data">
    <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
        <h3>This is {{ data.user?.username }}'s profile:</h3>
        <p>
            <b>Username:</b> {{ data.user?.username }} <br>
            <b>Email:</b> {{ data.user?.email }}
        </p>

        <div *ngIf="data.notes && data.notes.length > 0">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Content</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let note of data.notes">
                    <td>{{ note.title }}</td>
                    <td>{{ note.category?.title }}</td>
                    <td>{{ note.content }}</td>
                    <td>{{ note.priority }}</td>
                    <td>{{ note.deadline }}</td>
                    <td>{{ note.tags }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!(data.notes && data.notes.length > 0)">
            <p><b>This user has no notes!</b></p>
        </div>

        <div *ngIf="data.events && data.events.length > 0">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let event of data.events">
                    <td>{{ event.name }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.ticketPrice }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!(data.events && data.events.length > 0)">
            <p><b>This user has no events!</b></p>
        </div>
    </div>
</div>

