<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 my-2">
  <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
    <h3>This is {{ user.user.username }}'s profile:</h3>
    <p>
      <b>Username:</b> {{ user.user.username }} <br>
      <b>Email:</b> {{ user.user.email }}
    </p>

    @if(user.notes != []) {

      <table class="table">
        <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Priority</th>
          <th>Deadline</th>
          <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let note of user.notes">
          <td>{{ note.title }}</td>
          <td>{{ note.content }}</td>
          <td>{{ note.priority }}</td>
          <td>{{ note.deadline }}</td>
          <td>{{ note.tags }}</td>
        </tr>
        </tbody>
      </table>
    }
    @else {
      <p><b> This user has no notes! </b></p>
    }

    @if(user.events != []) {

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Date</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of user.events">
        <td>{{ event.name }}</td>
        <td>{{ event.address }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.ticketPrice }}</td>
      </tr>
      </tbody>
      </table>
    }
    @else {
    <p><b> This user has no events! </b></p>
    }
  </div>
</div>
