<div class="area">
  <div class="content">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6 my-2">
      <div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow sm:rounded-lg">
        <h3>Registered users</h3>
        <table class="table">
          <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of userList">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <th>
              <a [routerLink]="['/users', user.id, user.email]"> View Profile </a>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
